
<app-sidebar></app-sidebar>
<div class="content">
    <app-navbar></app-navbar>

    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Degree Info</h6>
            </div>

            <td> <button mat-raised-button color="primary" >Create</button></td>
            <div class="table">
              
                <table class="table ">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Degree Name</th>
                           
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of degree">
                            <td>{{obj.degreename}}</td>
       
                            <td> <button mat-raised-button color="primary" (click)="getFacilities(obj.id)">Facilities</button></td>

                            <td>
                              <button mat-raised-button color="primary" (click)="updateDegree(obj)">Update</button>
                            </td>
                            <td>
                              <button mat-raised-button color="warn" (click)="deleteDegree(obj)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #callUpdateDailog>
    <h2 mat-dialog-title>Update About Page</h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="UpdateDegree">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>dEGREE Name</mat-label>
                    <input type="text" matInput formControlName="degreename" [(ngModel)]="pData.degreename">
                </mat-form-field>
            </div>
           
           

        </form>
    </mat-dialog-content>




    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()">Save</button>
  </mat-dialog-actions>




</ng-template>



 

<app-footer></app-footer>





















