<app-sidebar></app-sidebar>




<app-navbar></app-navbar>

<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Airport Info</h6>


            </div>
            <td>  <button mat-raised-button color="primary" (click)="addAirport()">Create</button>

            </td>

            <div class="table">

                <table class="table ">

                    <thead>
                        <tr class="text-dark">

                            <th scope="col">Airport Name</th>
                            <th scope="col">City </th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Latitude</th>
                            <th scope="col">Airport Code</th>
                            <th scope="col">Operations</th>
                            <th scope="col">Airport Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of admin.airport">

                            <td>{{obj.airportname}}</td>
                            <td>{{obj.cityname}}</td>
                            <td>{{obj.longitude}}</td>
                            <td>{{obj.latitude}}</td>
                            <td>{{obj.iatacode}}</td>
                            <td>{{obj.airportimage}}</td>

                            <td>
                                <button mat-raised-button color="primary">Update</button></td>
                               <td><button mat-raised-button color="primary" (click)="openDeleteDialog(obj.id)">Delete</button></td> 
                            

                    </tbody>
                </table>

                

            </div>
   
            
        </div>
    </div>
    

</div>

<app-footer></app-footer>



<ng-template #deleteAirport>
    <h1 mat-dialog-title>Delete Airport</h1>
    <div mat-dialog-content>
      Would you like to delete this Airport?
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close="yes">Yes</button>
      <button mat-button mat-dialog-close cdkFocusInitial="no">No</button>
    </div>
    </ng-template>