<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>TOUR <i class="fa-solid fa-plane-departure"
                    style="color: #74C0FC;"></i></h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="../../../../assets/Admin/img/USER1.jpg" alt=""
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Abdulaziz </h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a routerLink="/admin/home" class="nav-item nav-link active"><i class="fa-solid fa-house"
                    style="color: #74C0FC;"></i> Home</a>

            <a routerLink="/admin/airlines" class="nav-item nav-link"><i class="fa-sharp fa-solid fa-users"
                    style="color: #74C0FC;"></i> Airlines</a>
            <a routerLink="/admin/airports" class="nav-item nav-link"><i class="fa-solid fa-cart-flatbed-suitcase"
                    style="color: #74C0FC;"></i> Airports</a>
            <a routerLink="/admin/flights" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                    class="fa-solid fa-plane-departure" style="color: #74C0FC;"></i> Flights</a>


            <a routerLink="/admin/users" class="nav-item nav-link"><i class="fa-sharp fa-solid fa-users"
                    style="color: #74C0FC;"></i> Users</a>

            <a routerLink="/admin/manage-testimonials" class="nav-item nav-link"><i class="fa-sharp fa-solid fa-users"
                    style="color: #74C0FC;"></i> Testimonials</a>
            <a routerLink="/admin/report" class="nav-item nav-link"><i class="fa-sharp fa-solid fa-users"
                    style="color: #74C0FC;"></i> Report</a>



            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2 "
                        style="color: #74C0FC;"></i> Pages</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a routerLink="/admin/manage-aboutus" class="dropdown-item">About-us Page</a>
                    <a routerLink="/admin/manage-contactus" class="dropdown-item">Contact-us Page</a>
                    <a routerLink="/admin/manage-home" class="dropdown-item">Home Page</a>
                </div>
            </div>
        </div>
    </nav>
</div>