<app-navbar></app-navbar>

<section id="spo" class="special-offer">
    <div class="container">
        <div class="special-offer-content" style="margin-top: 100px;">
            <div class="row">
                <h1 style="text-align: center; margin-top: 60px;">About Us</h1>
                <div class="col-sm-8" style="width: 50%;">
                    <div class="single-special-offer">
                        <div class="single-special-offer-txt">

                            <div class="packages-para special-offer-para">
                                <p class="offer-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation una <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-special-offer-txt-->
                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
                <div class="col-sm-4" style="width: 50%; margin-top: 100px;">
                    <div class="single-special-offer">
                        <div class="single-special-offer-bg" style="z-index: 1;">
                            <img src="../../../assets/Home/images/about-image.png" alt="offer-shape"
                                style="width: 100%; height: 100%;">
                        </div><!--/.single-special-offer-bg-->

                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.special-offer-content-->
    </div><!--/.container-->

</section>
<app-footer></app-footer>