<app-navbar></app-navbar>
<div></div>
<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-about-us">
            <!-- About Us Section -->
              
              <p style="margin-top: 100px ;">
                Our team of experts is dedicated to ensuring customer satisfaction through
                a variety of solutions, ranging from web development to digital transformation
                and beyond.
              </p>

            <!-- About Us Image -->
            <figure >
              <img src="../../../assets/Home/images/about-image.png" alt="About Us" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
