<app-navbar></app-navbar>
<div class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="intro-wrap">
          <h1>Welcome To Tracker Page</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <mat-card class="flight-card">
    <div class="flight-search">
      <mat-form-field appearance="outline">
        <mat-label>Enter Flight ID</mat-label>
        <input matInput [(ngModel)]="flightId" placeholder="Flight ID">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="searchFlight()">Search</button>
    </div>
  </mat-card>
<div class="row">
    
</div>
  <div *ngIf="flightData" id="map" style="height: 800px; width: 100%; margin-top: 20px;"></div>
</div>
