<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="intro-wrap">
                    <!-- <h1 class="mb-5"><span class="d-block">Let's Enjoy Your</span> Trip In <span
                            class="typed-words"></span></h1> -->
                    <h1 class="mb-5"><span class="d-block">{{home.homePage[0].homecontent}}</span> </h1>


                    <div class="row">
                        <div class="col-12">
                           <app-search-form (flightsFound)="handleHomeFlights($event)"></app-search-form>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-lg-5">
                <div class="slides">
                    <img src="../../../assets/Home/images/hero-slider-1.jpg" alt="Image" class="img-fluid active">
                    <img src="../../../assets/Home/images/hero-slider-2.jpg" alt="Image" class="img-fluid">
                    <img src="../../../assets/Home/images/hero-slider-3.jpg" alt="Image" class="img-fluid">
                    <img src="../../../assets/Home/images/hero-slider-4.jpg" alt="Image" class="img-fluid">
                    <img src="../../../assets/Home/images/hero-slider-5.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-title text-center mb-3">Our Services</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-4 order-lg-1">
                <div class="h-100">
                    <div class="frame h-100">
                        <div class="feature-img-bg h-100"
                            style="background-image: url('../../../assets/Home/images/hero-slider-1.jpg');">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="flaticon-house display-4 text-primary"></span>
                        <h3>Beautiful Condo</h3>
                        <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
                    </div>
                </div>

                <div class="feature-1 ">
                    <div class="align-self-center">
                        <span class="flaticon-restaurant display-4 text-primary"></span>
                        <h3>Restaurants & Cafe</h3>
                        <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
                    </div>
                </div>

            </div>

            <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="flaticon-mail display-4 text-primary"></span>
                        <h3>Easy to Connect</h3>
                        <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
                    </div>
                </div>

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="flaticon-phone-call display-4 text-primary"></span>
                        <h3>24/7 Support</h3>
                        <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="section-title text-center">Popular Destination</h2>
            </div>
        </div>

        <div class="owl-carousel owl-3-slider">

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-1.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-2.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-3.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>Rialto Bridge</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-4.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>San Francisco, United States</h3>
                        <span class="location">United States</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-5.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="item">
                <div class="media-thumb">
                    <div class="media-text">
                        <h3>Lake Thun</h3>
                        <span class="location">Switzerland</span>
                    </div>
                    <img src="../../../assets/Home/images/hero-slider-2.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>

    </div>
</div>
<!--...-->
<div class="untree_co-section testimonial-section mt-5">
    <div class="container">
        <div class="row justify-content-center">

            <div style="text-align: center;" *ngIf="isLoggedIn">
                <button class="btn btn-primary m-3" (click)="openCreateDialog()">Add testimonial</button>
            </div>


            <div class="col-lg-7 text-center">

                <h2 class="section-title text-center mb-5">Testimonials</h2>

                <div class="owl-single owl-carousel no-nav">
                    <ng-container *ngFor="let obj of home.testimonials">
                        <div *ngIf=" obj.testimonialstatus === 'Approved'" class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="../../../assets/Home/images/person_2.jpg" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">{{obj.firstname}}{{obj.lastname}}</h3>
                            <blockquote>
                                <p>&ldquo;{{obj.testimonialcontent}}&rdquo;</p>
                                <p><b>Rating :</b> {{obj.rating}}</p>
                                <p>{{obj.testimonialdate |date}}</p>
                            </blockquote>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 cta-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
                <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Excepturi, fugit?</p>
                <p class="mb-0"><a href="booking.html"
                        class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
            </div>
        </div>
    </div>
</div>


<ng-template #callCreateDailog>
    <h2 mat-dialog-title>Create Testimonial</h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="createTestimonial">

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Testimonial Content</mat-label>
                    <input type="text" matInput formControlName="testimonialcontent">
                    <mat-error *ngIf="createTestimonial.controls['testimonialcontent'].hasError('required')">Testimonial
                        Content is required</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Testimonial Rating</mat-label>
                    <input type="number" matInput formControlName="rating" min="1" max="5">
                    <mat-error *ngIf="createTestimonial.controls['rating'].hasError('min')">Min Rating is 1</mat-error>
                    <mat-error *ngIf="createTestimonial.controls['rating'].hasError('max')">Max Rating is 5</mat-error>
                </mat-form-field>
            </div>


        </form>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-primary m-3">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()"
            class="btn btn-primary">Save</button>
    </mat-dialog-actions>
</ng-template>

<app-footer></app-footer>